@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Inter;
        font-style: normal;
        font-weight: 100, 900;
        font-display: swap;
        font-feature-settings:
            "liga" 1,
            "calt" 1;
        src: url("/fonts/inter.woff2") format("woff2");
    }

    @font-face {
        font-family: Inter;
        font-style: italic;
        font-weight: 100, 900;
        font-display: swap;
        font-feature-settings:
            "liga" 1,
            "calt" 1;
        src: url("/fonts/inter-italic.woff2") format("woff2");
    }

    @font-face {
        font-family: Junicode;
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url("/fonts/junicode.woff2") format("woff2");
    }

    @font-face {
        font-family: "Junicode-Fallback";
        src: local("Times New Roman");
    }

    @font-face {
        font-family: "Inter-Fallback";
        src: local("Times New Roman");
    }

    body {
        font-synthesis: none;
    }

    img {
        width: 100%;
        display: block;
    }
}

@layer utilities {
    .ligatures {
        font-feature-settings: "dlig";
    }

    .arrow-indent {
        text-indent: 3.5rem;
    }

    .arrow-indent::before {
        position: absolute;
        content: "->";
        left: -3.5rem;
    }

    .end-bullet::after {
        margin-left: 0.5rem;
        font-feature-settings: "case";
        content: "▪";
    }

    .crisp {
        image-rendering: crisp-edges;
    }
}