---
import Layout from '../layouts/Layout.astro';
import { shuffle } from '@probablyduncan/common';

const products = [ "p1", "p2", "p3" ];
---

<Layout>
	<div class="p-4">Shop around!</div>
	<div class="p-4">{shuffle(products).map(p => <span class="p-2">{p}</span>)}</div>
</Layout>
